*
  margin: 0
  padding: 0
html,body
  font-family: 'PT Sans', Arial, sans-serif
  line-height: 1.5
  font-size: 100%
  margin: 0
  padding: 0
  height: 100%
  background-color: white
  color: #2c3e50
  a:focus, a:hover
    text-decoration: none
  h1,h2,h3,h4,h5
    color: #2c3e50
.btn-success
  color: #fff
  background-color: #27ae60
  border-color: #31b167
  &:hover
    background-color: #2cc56d
    border-color: #34b96c

/* ------------------ section #header - styles sass ------------------------- */
#header
  a
    display: inline-block
  .navbar
    border-bottom: 5px solid rgb(39, 174, 96)
    background-color: white
    margin-bottom: 0
    .navbar-brand
      height: 90px
    .logo
      .sh
        color: black
      .plus
        color: #27ae60
      .sh,.plus
        font-family: arial
        font-size: 60px
        font-weight: bold
        line-height: 60px
    .social
      text-align: right
      line-height: 90px
      .fa-stack
        line-height: 1.9em
        i
          border: 1px solid
          border-radius: 50%
      a
        color: #27ae60
        opacity: 0.8
        span
          margin-left: 10px
      a:hover
        color: #27ae60
        opacity: 1
.main-menu
  text-align: right
  // overflow: hidden
  line-height: 73px
  .link
    margin-left: 2%
    line-height: 80px
    color: #2c3e50
    text-transform: uppercase
    font-size: 81%
    white-space: nowrap
    &:hover
      color: #27AE60
      font-weight: 700
    .fa-vk
      color: #3498DB
      font-size: 150%
      border: 1px solid
      border-radius: 50%
      padding: 0.3rem
      text-align: center
  .nav1
    height: 80px
    overflow: hidden

  .green-submenu
    background-color: #27ae60
    text-align: center
    background-image: url("../img/galaxyrefitstarboard.png")
    background-size: 100%
    background-position: 0 53%
    background-repeat: no-repeat
    &::before
      content: ''
      position: absolute
      width: 100%
      height: 55px
      left: 0
      background-color: rgba(39, 174, 96, 0.9)
      pointer-events: none
      background-position-x: 0px
      background-repeat: repeat-x
.sidebar2
  text-align: center
  a
    padding-left: 1%
    padding-right: 1%
    padding-bottom: 10px
    line-height: 80px
    color: #2c3e50
    text-transform: uppercase
    font-size: 81%
    white-space: nowrap
    &:hover
      font-weight: bold
  li
    float: left
.navbar-form
  border-top: 0
  border-bottom: 0
  width: 100%
  .form-group
    width: 100%
    position: relative
  #search
    width: 100%
    padding-left: 30px
  .loader
    position: absolute
    top: 0
    right: 10px
    display: none

  #list
  .mSearchAutoComplete
    padding: 10px 0
    width: 100%
    position: absolute
    left: 0
    top: 56px
    z-index: 2
    display: none
    .eAutoComplete_itemMore
      text-align: right
      a
        margin: 0
        display: block !important
        text-align: right
        line-height: 0
        padding: 10px 0
        &:hover
        span
          font-size: 12px
          color: #34b96c
          border-bottom: 1px dashed #34b96c
          line-height: 14px
          &:hover
            color: #2c3e50
            border-bottom: 1px dashed #2c3e50
    .eAutoComplete_itemList
      line-height: 0px
      // max-height: 62px
      margin: 5px 0
      opacity: 0.5
      &:last-child
        a
          border-bottom: 0
      a
        background: none
        padding: 5px 8px
        margin: 0
        color: #555
        line-height: 14px
        display: block
        text-decoration: none
        cursor: pointer
        font-size: 12px
        width: 100%
        border-bottom: 1px solid lightgrey
        &:hover
          // border-bottom: none
        .infoBook
          // height: 54px
          // border-bottom: 1px solid lightgrey
          .title
            line-height: 25px
            font-size: 16px
            font-weight: 500
        .col-my-2
          position: relative
          min-height: 1px
          padding-right: 5px
          padding-left: 5px
          float: left
          width: 7%
        .col-my-10
          position: relative
          min-height: 1px
          padding-right: 5px
          padding-left: 5px
          float: left
          width: 93%
        img
          max-height: 50px
      &:hover
        opacity: 1
  .bAutoComplete
    height: auto
    display: none
    text-align: left
    background-color: white
    box-shadow: 0 2px 10px -2px rgba(0,0,0,.7)
  #search_btn
    margin-left: 10px
    display: none
// .eAutoComplete_itemList
//   a:last-child
//     border-bottom: 0
/* ----------------------- section #main  - styles sass --------------------- */
#main
  position: relative
  min-height: 100%
  height: auto !important
  height: 100%
  padding: 10px 0 20px 0
  // margin-bottom: -20px
  .top
    padding-top: 40px
  .menu
    border-bottom-width: 0
    border-right-width: 2px
    border-right-style: solid
    border-right-color: rgba(34,36,38,.15)
    .menu_nav
      padding-left: 0
      margin:
        top: 10px
        bottom: 10px
      li
        float: none
        list-style: none
        a
          color: #27ae60
          padding: 10px 15px
          display: block
          &:hover
            background-color: white
            font-weight: bold
            text-decoration: none
      .active
        border-color: #27ae60
        border-right-style: solid
        margin: 0 -2px 0 0
        border-right-width: 2px
  .menu_fixed_middle
    top: 160px
    position: fixed
    z-index: 1029
    width: 13%
  #pattern
    display: none
  .found
    margin: 60px 15px 20px 15px
    // border-bottom: 1px solid grey
    box-shadow: 0px 1px 0px 0px rgba(195, 195, 195, 0.27)
    .text_found,.number_found
      font-weight: bold
      padding: 0 5px
    .breadcrumb
      padding: 8px 0
      margin-bottom: 0
      list-style: none
      background-color: inherit
      border-radius: 4px
      font-size: 12px
      li
        a
          color: #27ae60
          &:hover
            color: #2c3e50
  .book_block
    margin-top: 80px
    .item
      text-align: -webkit-center
    .rating
      text-align: center
  #content
    .details,.btnBookID
      background-color: white
      color: #34b96c
      border-color: #34b96c
      outline: none
      &:hover
        background-color: white
        color: #2c3e50
        border-color: #263646
    .fileinput-upload-button
      display: none
    .kv-file-upload
      display: none
    .bookDescription
      // text-align: right
      // max-height: 312px
      // overflow: hidden
      // padding: 0 0 0 0
      h4
        font-weight: 500
      #description
        font-size: 14px
        text-align: left
        text-indent: 1.5em
        line-height: 24px
      p:first-letter
        font-size: 22px
        color: #27ae60
    #id
      margin-top: 20px
      h4
        padding: 5px 0
      hr
        margin: 5px 0
      .btnBookID
        float: left
      #bookImg img
        width: 220px
        height: auto
        // box-shadow: 10px 10px 5px -9px rgba(0, 0, 0, 0.75)
      .blokBtnAdmin
        padding: 10px 0
        text-align: center
        .btn
          margin: 0 3px
      .bookLastInfo
        display: table
        table-layout: fixed
        width: 100%
        .bookRow
          display: table-row
          padding-bottom: 10px
          line-height: 17px
          font-size: 12px
        // width: 220px
        // padding: 10px 0 10px 10px
        .properties
          display: table-cell
          padding-right: 19px
          padding-bottom: 8px
          color: #2c3e50
          // width: 22%
          word-break: break-word
          font-weight: 600
          // display: inline-block
        #year,#pages,#isbn

      .bookInfo
        // padding: 0 15px 10px
        color: #2c3e50
        font-size: 14px
        .titleBook
          font-weight: 600
          font-size: 24px
          line-height: 32px
          letter-spacing: .01em
          margin-bottom: 20px
          width: 80%
          // color: #888
          // width: 80px
          // padding-right: 19px
          // padding-bottom: 8px
        .properties
          padding: 0 5px 0 10px
        .btnBook
          // margin-top: 60px
          text-align: center
      .orderBlock
        text-align: center
        background-color: #fff
        border: 1px solid #e1e1e1
        box-shadow: 0 2px 10px -2px rgba(0,0,0,.15)
        padding: 30px 20px 35px 20px
        border-radius: 3px
        .busyBook,.freeBook,.response
          display: none
          .youEmail
            color: #27ae60
        .glyphicon-ok,.glyphicon-remove
          display: none
          .btnBookID
        .termD-group
          max-width: 50%
          float: right
        .updateBookAction
          span
            position: relative
            padding: 10px
            top: -2px
          text-align: right

        .form-queue
          padding: 2px 0
        i.fa
          width: 20px

    a
      display: block
      img
        width: auto
        height: 128px
        cursor: pointer
    .book
      text-align: center
      padding: 20px 10px
      &:hover
        box-shadow: 0px 3px 7px 1px rgba(195, 195, 195, 0.27)
      .title
        // padding: 10px 0 5px 0
        // color: #27ae60
        // font-size: 14px
        // font-weight: bold
        color: #2c3e50
        font-size: 12px !important
        line-height: 1.5 !important
        text-align: center
        white-space: nowrap
        padding: 5px 0 0 0
        text-overflow: ellipsis
        overflow: hidden
      .author
        color: #2c3e50
        // font-style: italic
        // font-size: 15px
        font-size: 12px !important
        line-height: 1.5 !important
        text-align: center
        white-space: nowrap
        padding: 0 0 5px 0
        text-overflow: ellipsis
        overflow: hidden
    .table-hover
      font-size: 14px
      tr
        cursor: pointer
.filterBlock
  border-bottom-width: 1px
  border-bottom-style: solid
  border-bottom-color: rgba(34, 36, 38, 0.15)
  padding: 10px
  .active
    border-color: #27ae60
    border-bottom-style: solid
    border-bottom-width: 1px
    padding-bottom: 10px

#formAddBook
  #book_save
    float: right

    // display: none
.blockI
  position: relative
  &::before
    // display: block
    // position: absolute
    bottom: 30px
    // left: 50%
    margin-left: -40%
    padding: 10px
    width: 80%
    font-size: 10px
    color: white
    text-align: center
    background-color: rgba(0, 0, 0, .85)
    border-radius: 5px
    content: attr(data-title)
    box-sizing: border-box
    // transition: opacify .7s
    // visibility: hidden
    // opacity: 0
  &::after
    content: ''
    border-top: 10px solid rgba(0, 0, 0, .85)
    border-left: 10px solid transparent
    border-right: 10px solid transparent
    bottom: 20px
    margin-left: -10px
.blockI::before,.blockI::after
  display: block
  position: absolute
  left: 50%
  visibility: hidden
  opacity: 0
  transition: opacity .5s
.blockI:hover::before,.blockI:hover::after
  visibility: visible
  opacity: 1
/* ---------------------- section #footer - styles sass --------------------- */
#footer
  position: absolute
  width: 100%
  .content_footer
    color: white
    text-align: center
    background-color: #3d3d3d
    padding: 5px
    i.fa-heart
      padding: 0 5px
      color: #dc4242
      cursor: pointer
      &:hover
        color: white


#canvas
  border: 2px solid #2cc56d
  border-radius: 10px

@media (max-width: 750px)
	.container
    width: 360px

@keyframes displaySweetAlert
  0%
    transform: scale(0)
  10%
    transform: scale(0.1)
  20%
    transform: scale(0.2)
  30%
    transform: scale(0.3)
  40%
    transform: scale(0.4)
  50%
    transform: scale(0.5)
  60%
    transform: scale(0.6)
  70%
    transform: scale(0.7)
  80%
    transform: scale(0.8)
  90%
    transform: scale(0.9)
  100%
    transform: scale(1)

.showSweetAlert[data-animation=pop]
  animation: displaySweetAlert 0.2s
@media(min-width:1200px)and(max-width:1920px)
  body

/* Small devices (tablets, 768px and up) */
@media(min-width:991px)and(max-width:1170px)
  body

/* Small devices (tablets, 768px and up) */
@media(min-width:768px)and(max-width:990px)
  .titleBook
    width: 100%
  .bookRow
    font-size: 14px !important
    .properties
      width: 20%

  .btnBlock
    margin-top: 20px
  .bookDescription
    margin-top: 20px
    padding: 0 15px 0 15px

@media(min-width:320px)and(max-width:767px)
  .sidebar2
    a
      font-size: 50% !important
    .btn-success
      font-size: 50% !important
  .table-hover
    font-size: 30% !important
  .mSearchAutoComplete
    .eAutoComplete_itemList
      height: auto !important
      a
        padding: 10px 0 !important
      .col-my-2
        display: none
      img
        display: none
      .title
        font-size: 14px !important
      .author
        font-size: 12px !important
  .titleBook
    width: 100% !important
    text-align: center
  #bookImg
    float: none
    text-align: -webkit-center
    img
      text-align: center
  .info
    padding: 15px 0
  .btnBlock
    text-align: center
    padding: 25px 0 10px 0
    .btnBookID
      float: none !important
  .bookDescription
    max-height: 100% !important
    overflow: auto !important
    h4
      text-align: center


// @media(min-width:768px)
    body
      background-color: black

#loading
  text-align: center
  display: none
