*
  margin: 0
  padding: 0
body
  height: 100%
  background-color: white
  color: #2c3e50
  a:focus, a:hover
    text-decoration: none
  h1,h2,h3,h4,h5
    color: #2c3e50
.btn-success
  color: #fff
  background-color: #27ae60
  border-color: #31b167
  &:hover
    background-color: #2cc56d
    border-color: #34b96c
.size_text
  white-space: nowrap
  overflow: hidden
  padding: 5px
  // position: relative
  &::after
    content: ''
    position: absolute
    right: 0
    top: 0
    width: 40px
    height: 100%
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2), #fff 100%)

/* ------------------ section #header - styles sass ------------------------- */
#header
  .navbar
    border-bottom: 5px solid rgb(39, 174, 96)
  .sh
    color: black
  .plus
    color: #27ae60
  .sh,.plus
    font-family: arial
    font-size: 40px
    font-weight: bold
    line-height: 20px

.navbar-form
  width: 60%
  .form-group
    width: 80%
  #search
    width: 100%
  #search_btn
    margin-left: 10px


/* ----------------------- section #main  - styles sass --------------------- */
#main
  margin: 160px 0
  .menu
    border-bottom-width: 0
    border-right-width: 2px
    border-right-style: solid
    border-right-color: rgba(34,36,38,.15)
    .menu_nav
      padding-left: 0
      margin:
        top: 10px
        bottom: 10px
      li
        float: none
        list-style: none
        a
          color: #27ae60
          padding: 10px 15px
          display: block
          &:hover
            background-color: white
            font-weight: bold
            text-decoration: none
      .active
        border-color: #27ae60
        border-right-style: solid
        margin: 0 -2px 0 0
        border-right-width: 2px
  .menu_fixed_middle
    top: 160px
    position: fixed
    z-index: 1029
    width: 13%
  #content

    .bookDescription
      padding: 40px 15px
      h4
        font-weight: 500
      p
        text-align: justify
        text-indent: 1.5em
        line-height: 24px
      P:first-letter
        font-size: 22px
        color: #27ae60
    .bookID
      .bookImg img
        width: 220px
        height: auto
        box-shadow: 10px 10px 5px -9px rgba(0, 0, 0, 0.75)
      .bookInfo
        padding: 0 30px
        .titleBook
          font-weight: 500
          font-size: 22px
          line-height: 32px
          letter-spacing: .01em
          margin-bottom: 10px
        span
          display: inline-block
          color: #888
          width: 60px
          padding-right: 19px
          padding-bottom: 8px
        .btnBookID
          // margin-right: 42%
          float: right

    a
      display: block
      img
        width: 100%
        height: auto
        cursor: pointer
    .book
      text-align: center
      margin-bottom: 60px
      padding: 20px 10px
      &:hover
        box-shadow: 0px 6px 16px 1px rgba(0, 0, 0, 0.75)
      //   // .size_text
      //   //   white-space: normal
      //   //   &::after
      //   //     background: none
      .title
        padding: 5px 0 0 0
        color: #27ae60
        font-size: 14px
        font-weight: bold
        cursor: pointer
        &::before
          content: attr(data-book-title)
          position: absolute
          left: 15%
          top: 30%
          z-index: 1029
          background: rgba(255, 255, 255, 0.9)
          font-family: Arial, sans-serif
          font-size: 11px
          padding: 5px 10px
          border: 1px dashed #27ae60
          border-radius: 5px
          width: 70%
          white-space: normal
          box-sizing: border-box
          transition: .25s ease-in-out
          opacity: 0
          display: none
        &:hover::before
          opacity: 1
          top: 40%
          display: block
      .author
        cursor: pointer
        color: #2c3e50
        &::before
          content: attr(data-book-author)
          position: absolute
          left: 15%
          top: 30%
          z-index: 1029
          background: rgba(255, 255, 255, 0.9)
          font-family: Arial, sans-serif
          font-size: 11px
          padding: 5px 10px
          border: 1px dashed #27ae60
          border-radius: 20px
          width: 70%
          white-space: normal
          box-sizing: border-box
          transition: .25s ease-in-out
          opacity: 0
          display: none
        &:hover::before
          opacity: 1
          top: 40%
          display: block
/* ---------------------- section #footer - styles sass --------------------- */
#footer
  .content_footer
    height: 20px
    color: white
    text-align: center
    background-color: #3d3d3d
