extends admin_layout

block content
  div.row.col-md-12
    table.table.table-hover
      thead
        tr
          th Book Title
          th Author
          th Reader's name
          th Reader's email
          th Phone number
          th Return date
          th Amount of guarantee
      tbody#table_content

  include books_list_row
  script(src='/js/admin_index.js' defer)
