extends admin_layout
block content
  div.col-md-12
        table.table.table-hover
          thead
            tr
              th Book Title
              th Author
              th Reader's name
              th Reader's email
              th Phone number
              th Return date
              th Amount of guarantee
              th Status
          tbody
            tr
              td JS BlaBlaBla
              td Some Name
              td Vasiliy Pupkin
              td john@example.com
              td 09877809799
              td 12.09.12
              td 300 hrn.
              td on hand
            tr
              td JS BlaBlaBla
              td Some Name
              td Vasiliy Pupkin
              td john@example.com
              td 09877809799
              td 12.09.12
              td 300 hrn.
              td on hand
            tr
              td JS BlaBlaBla
              td Some Name
              td Vasiliy Pupkin
              td john@example.com
              td 09877809799
              td 12.09.12
              td 300 hrn.
              td on hand
            tr
              td JS BlaBlaBla
              td Some Name
              td Vasiliy Pupkin
              td john@example.com
              td 09877809799
              td 12.09.12
              td 300 hrn.
              td on hand
            tr
              td JS BlaBlaBla
              td Some Name
              td Vasiliy Pupkin
              td john@example.com
              td 09877809799
              td 12.09.12
              td 300 hrn.
              td on hand
            tr
              td JS BlaBlaBla
              td Some Name
              td Vasiliy Pupkin
              td john@example.com
              td 09877809799
              td 12.09.12
              td 300 hrn.
              td on hand
            tr
              td JS BlaBlaBla
              td Some Name
              td Vasiliy Pupkin
              td john@example.com
              td 09877809799
              td 12.09.12
              td 300 hrn.
              td on hand
            tr
              td JS BlaBlaBla
              td Some Name
              td Vasiliy Pupkin
              td john@example.com
              td 09877809799
              td 12.09.12
              td 300 hrn.
              td on hand
