div.sidebar2
  div.nav2
    span.filterBlock
      a.sidebar_item.active(href="/admin?filter=all" data-filter='all') Все
      a.sidebar_item(href="/admin?filter=expired" data-filter='expired') Просроченные
      a.sidebar_item(href="/admin?filter=onhand" data-filter='onhand') На руках
      a.sidebar_item(href="/admin?filter=free" data-filter='free') Свободные
    a(href="/admin/addbook")
         button.btn.btn-success(type='button') Добавить книгу

script(src='/js/admin_sidebar.js' defer)
