div#sidebar.col-xs-2.col-sm-2.col-md-2.col-lg-2
    div.menu.menu_fixed_middle
        ul.menu_nav
            li.sidebar_item.active(data-filter = 'all')
                a(href="/admin?filter=all") All
            li.sidebar_item(data-filter = 'expired')
                a(href="/admin?filter=expired") Expired
            li.sidebar_item(data-filter = 'onhand')
                a(href="/admin?filter=onhand") On hand
            li.sidebar_item(data-filter = 'free')
                a(href="/admin?filter=free") Free
        a(href="/admin/addbook")
            button.btn.btn-success(type='button') Add book


script(src='/js/sidebar.js' defer)
