extends admin_layout
block vars
  -var search = false
block content
  div.row.col-md-12
    table.table.table-hover
      thead
        tr
          th Название
          th Автор
          th Читающий
          th Email
          th Телефон
          th Дата возврата
          th Залог
      tbody#table_content

  include books_list_row
  script(src='/js/admin_index.js' defer)
