extends admin_layout

block content
    div#formAddBook.row
        form.form-horizontal.col-md-6
          .form-group
              label.control-label.col-sm-3(for='book_title') Title:
              .col-sm-9
                input#book_title.form-control(type='text', aria-describedby='inputSuccess3Status' name='title')
          .form-group
              label.control-label.col-sm-3(for='book_author') Author:
              .col-sm-9
                input#book_author.form-control(type='text', aria-describedby='inputSuccess3Status' name='author')
          .form-group
              label.control-label.col-sm-3(for='book_year') Year:
              .col-sm-9
                input#book_year.form-control(type='text', aria-describedby='inputSuccess3Status' name='year')
          .form-group
              label.control-label.col-sm-3(for='book_pages') Number of pages:
              .col-sm-9
                input#book_pages.form-control(type='text', aria-describedby='inputSuccess3Status' name='pages')
          .form-group
              label.control-label.col-sm-3(for='book_isbn') ISBN:
              .col-sm-9
                input#book_isbn.form-control(type='text', aria-describedby='inputSuccess3Status' name='isbn')
          .form-group
              label.control-label.col-sm-3(for='book_description') Description:
              .col-sm-9
                textarea#book_description.form-control(rows='5')
          button#book_save.btn.btn-primary(type='button' value='save') Save
        .form-group.col-md-6
          input#book_img_upload(type='file', data-upload-url='#')
          img#imgInp(display='none')
          canvas#canvas(width='465', height='660')
    script(src='/js/admin_add_edit_book.js' defer)
