extends admin_layout
block vars
  -var search = false
block content
  div.row.col-md-12
    table.table.table-hover
      thead
        tr
          th название
          th автор
          th читающий
          th email
          th телефон
          th возврат
          th залог
      tbody#table_content

  include books_list_row
  script(src='/js/admin_index.js' defer)
