div#sidebar.col-xs-2.col-sm-2.col-md-2.col-lg-2
  div.menu.menu_fixed_middle
    ul.menu_nav
      li.sidebar_item.active(data-filter = 'all')
        a(href="/admin?filter=all") Все
      li.sidebar_item(data-filter = 'expired')
        a(href="/admin?filter=expired") Просроченные
      li.sidebar_item(data-filter = 'onhand')
        a(href="/admin?filter=onhand") На руках
      li.sidebar_item(data-filter = 'free')
        a(href="/admin?filter=free") Свободные
    a(href="/admin/addbook")
      button.btn.btn-success(type='button') Добавить книгу

script(src='/js/admin_sidebar.js' defer)
