div#pattern.col-xs-12.col-sm-3.col-md-2.col-lg-2
    div.book
        a(href='{link}')
            img(src='', alt='')
            div.blockI(data-title='')
              div.title.size_text(data-book-title='{title}') {title}
              div.author(data-book-author='{author}') {author}
        //-   br
        a(href='{link}')
            button.details.btn.btn-success(type="button") Читать
