div#pattern.col-xs-12.col-sm-6.col-md-3.col-lg-3.book_item
    div.book
        a(href='{link}')
            img(src='', alt='')
        div.blockI
          div.title.size_text(data-book-title='{title}') {title}
          div.author(data-book-author='{author}') {author}
          br
        a(href='{link}')
            button.details.btn.btn-success(type="button") Details
