extends layout
block content
  div#content.col-xs-12.col-sm-12.col-md-12.col-lg-12
    include book_item
    div#id
      div.col-md-12.bookInfo
        h1#title.titleBook
        div
          span.properties
            b Автор:
          span#author
      div.col-xs-12.col-sm-3.col-md-3#bookImg
        img(src='')
        .bookLastInfo
          span.properties год:
          span#year
          span.properties страниц:
          span#pages
          span.properties isbn:
          span#isbn
      div.bookDescription.col-xs-12.col-sm-9.col-md-9
        button.btnBookID.btn.btn-success(type='button') Хочу читать!
        h4 О книге
          hr
          p#description
    script(src='/js/book.js' defer)
