extends layout

block content
    div.row.bookID
        div.col-md-3.bookImg
            img(src='')
        div.col-md-7.bookInfo
            h4.titleBook
            div
                span#author author:
            div
                span#year year:
            div
                span#pages pages:
            div
                span#isbn ISBN:
            div
                button.btnBookID.btn.btn-success(type='button') Want to read!
    div.row.bookDescription
        div.col-md-12
            h4 О книге
            hr
            p

    script(src='/js/book.js' defer)