div.col-xs-12.col-sm-6.col-md-3.col-lg-3
    div.book_item
        a(href="#") 
            img(src="img/books/4.jpg", alt="")
        div.title.size_text(data-book-title='Вэб-разработка с применением Node и Express. Полноценное использование стека JavaScript') Вэб-разработка с применением Node и Express. Полноценное использование стека JavaScript
        div.author(data-book-author='Браун И.') Браун И.
        br
        button.want_to_read.btn.btn-success(type="button") Want to read!

