extends layout
block content
    include book_item
    div.row#bookID
        div.col-md-3#bookImg
            img(src='')
        div.col-md-6.bookInfo
            h4#titleBook
            div
                span.properties author:
                span#author 
            div
                span.properties year:
                span#year
            div
                span.properties pages:
                span#pages
            div
                span.properties ISBN:
                span#isbn
        div.orderBlock.col-md-3
            div.busyBook
              h3 The book is busy
              br
              p Hello to you not so lucky, the book's busy now but you can take her when she's free.
              p To do this, enter your email and click on the button "Want to read!"
              p
            div.freeBook
              h3 Book is not busy
              br
              p Hi you are very lucky, the book is now free and you can take her to read.
              p To do this, enter your email and click on the button "Want to read!"
              p
            div.response
              h3 Congratulations
              br
              p Instructions on how to get the book sent to your email:
                span.youEmail
            .input-group.form-queue
              .input-group-addon @
              input.orderEmail.form-control(type='text', placeholder='email' name='email')
              span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true')
              span.glyphicon.glyphicon-remove.form-control-feedback(aria-hidden='true')
            br
            button.btnBookID.btn.btn-success(type='button') Want to read!
            
        div.bookDescription
            div.col-md-12
                h4 О книге
                hr
                
                p#bookDescriptionText

    script(src='/js/book.js' defer)
