extends layout
block vars
  - var search = false
  - var sidebar = false
block content
  div#content.book_block.col-xs-12.col-sm-12.col-md-12.col-lg-12
    include book_item
    div#id
      div.col-xs-12.col-sm-3.col-md-3#bookImg.item
        img(src='' class="img-responsive" alt="Responsive image")
        //- label.control-label(for='input-7-xs') Extra Small Rating
        input#rating-book-xs.rating.rating-loading(value='1', data-min='0', data-max='5', data-show-caption="false", data-show-clear="false" data-step='0.5', data-size='xs')
        hr
      div.col-xs-12.col-sm-9.col-md-9.col-lg-9.info
        div.bookInfo.col-md-12
          div#title.titleBook
        div.col-xs-12.col-sm-12.col-md-12.col-lg-12
          .bookLastInfo
            div.bookRow
              span.properties автор:
              span#author
            div.bookRow
              span.properties год:
              span#year
            div.bookRow
              span.properties страниц:
              span#pages
            div.bookRow
              span.properties isbn:
              span#isbn
        div.btnBlock.col-xs-12.col-sm-12.col-md-12
          button.btnBookID.btn-lg.btn.btn-success(type='button') Хочу читать!
        div.bookDescription.col-xs-12.col-sm-12.col-md-12.hidden-xs.hidden-sm
          h4 О книге
          hr
          p#description
      div.bookDescription.col-xs-12.col-sm-12.col-md-12.hidden-md.hidden-lg
        h4 О книге
        hr
        p.description

    script(src='/js/book.js' defer)
