section#footer
  div.navbar-bottom.row-fluid
    div.navbar-inner
      div.container-fuild 
        div.content_footer  Made with
          i.fa.fa-heart(aria-hidden='true')
          | by Hola-Team
