section#footer
  div.navbar-bottom.row-fluid
    div.navbar-inner
      div.container-fuild
        div.content_footer  Made with
          a.heart(href='http://programming.kr.ua/')
            i.fa.fa-heart(aria-hidden='true')
          | by HolaTeam
