section#header
    nav.navbar.navbar-default
        .container
            .col-xs-3.col-sm-3.col-md-3.col-lg-3
                .logo
                  a.navbar-brand(href='/')
                      span.sh Ш
                      span.plus ++
            .col-xs-7.col-sm-7.col-md-7.col-lg-7
                .main-menu
                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                        form.navbar-form.navbar-right
                            .form-group
                                input#search.form-control(type='text', placeholder='Найти книгу')
                            button#search_btn.btn.btn-default(type='submit') OK
            .col-xs-2.col-sm-2.col-md-2.col-lg-2
                .social
                    a(href='https://vk.com/programming_in_kr')
                        span.fa-stack.fa-sm
                          i.fa.fa-circle-thin.fa-stack-2x
                          i.fa.fa-vk.fa-stack-1x
                    a(href='https://www.facebook.com/groups/programming.ua/')
                        span.fa-stack.fa-sm
                          i.fa.fa-circle-thin.fa-stack-2x
                          i.fa.fa-facebook.fa-stack-1x
                
      //- div.green-submenu
      //-     #bs-example-navbar-collapse-1.collapse.navbar-collapse
      //-         .col-xs-12.col-sm-12.col-md-12.col-lg-12
                  
              //-     form.navbar-form.navbar-right
              //-         .form-group
              //-             input#search.form-control(type='text', placeholder='Найти книгу')
              //-         button#search_btn.btn.btn-default(type='submit') OK
              //- ul.nav.navbar-nav.navbar-right(style="display: none")
              //-     li
              //-         a(href='#') Admin
      //- div.sidebar2
      //-   div.nav2
      //-     a.sidebar_item.active(href="/?filter=new" data-filter = 'new') Новые
      //-     a.sidebar_item(href="/?filter=popular" data-filter = 'popular') Популярные
      //-     a.sidebar_item(href="/?filter=all" data-filter = 'all') Все
          
script(src='/js/search.js' defer)
