extends layout.jade
block content
    div.row
        include book
        include book
        include book
        include book
        include book
        include book
        include book
        include book
        nav(aria-label='...')
            ul.pager
                li.previous
                    a(href='#')
                        span(aria-hidden='true') ←
                        |  Older
                li.next
                    a(href='#')
                        | Newer 
                        span(aria-hidden='true') →
