doctype html
html(lang='ru')
    head
        title= "shpp-library"
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta( name='description', content='library Sh++')
        link(rel='stylesheet',href='/css/libs.min.css')
        link(rel='stylesheet', href='/css/style.css')
        script(src='/js/libs.min.js' defer)
        script(src='/js/common.js' defer)
        link(rel='shortcut icon', href='favicon.ico')


    body
        block vars
        include header
        if (sidebar == true)
            include sidebar
        section#main
            div.container
                block content
        include footer
