doctype html
html(lang='ru')
    head
        title= title
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta( name='description', content='library Sh++')
        link(rel='stylesheet',href='/css/libs.min.css')
        link(rel='stylesheet', href='/css/style.css')
        script(src='/js/libs.min.js' defer)
        script(src='/js/common.js' defer)
        
    body
        include header
        include sidebar
        section#main
            div.container
                div.row
                    //- include sidebar
                    div#content.col-xs-12.col-sm-12.col-md-12.col-lg-12
                        block content
        section.contacts
          #map
             iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2643.469438061801!2d32.25761448811626!3d48.505065000000016!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x283b77c23e4b16bf!2z0KjQutC-0LvQsCDQv9GA0L7Qs9GA0LDQvNGD0LLQsNC90L3RjyDQqCsr!5e0!3m2!1sru!2sus!4v1472742034442', width='100%', height='390', frameborder='0', style='border:0', allowfullscreen='', pointer-events:'none')
          div.contacts-info
            div.contact-row.contact-address
              div.contact-icon
                i.fa.fa-map-marker.fa-4x(aria-hidden='true')
              div.contact-text Украина, г. Кропивницький 
                br
                |  пер. Васильевский, 10
            div.contact-row.contact-phone
              div.contact-icon
                i.fa.fa-mobile.fa-4x(aria-hidden='true')
              div.contact-text 099 196 24 69 (Роман)
                br
                |  050 151 04 26 (Анатолий)
            div.contact-row.contact-mail
              div.contact-icon
                i.fa.fa-commenting-o.fa-4x(aria-hidden='true')
              div.contact-text Напишите нам
                br
                a(href) info@programming.kr.ua
        include footer
        include popup
