doctype html
html(lang='ru')
    head
        title= title
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta( name='description', content='library Sh++')
        link(rel='stylesheet',href='/css/libs.min.css')
        link(rel='stylesheet', href='/css/style.css')
        script(src='/js/libs.min.js' defer)
        script(src='/js/common.js' defer)
        
    body
        include header
        include sidebar
        section#main
            div.container
                div.row
                    //- include sidebar
                    div#content.col-xs-12.col-sm-12.col-md-12.col-lg-12
                        block content
        //- section.contacts
        //-   div.contacts-info
        //-     div.contact-row.contact-address
        //-       div.contact-icon
        //-         i.fa.fa-map-marker.fa-4x(aria-hidden='true')
        //-       div.contact-text Украина, г. Кропивницький 
        //-         br
        //-         |  пер. Васильевский, 10
        //-     div.contact-row.contact-phone
        //-       div.contact-icon
        //-         i.fa.fa-mobile.fa-4x(aria-hidden='true')
        //-       div.contact-text 099 196 24 69 (Роман)
        //-         br
        //-         |  050 151 04 26 (Анатолий)
        //-     div.contact-row.contact-mail
        //-       div.contact-icon
        //-         i.fa.fa-commenting-o.fa-4x(aria-hidden='true')
        //-       div.contact-text Напишите нам
        //-         br
        //-         a(href) info@programming.kr.ua
        include footer
        include popup
