doctype html
html(lang='ru')
    head
        title= title
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta( name='description', content='library Sh++')
        link(rel='stylesheet',href='/css/libs.min.css')
        link(rel='stylesheet', href='/css/style.css')
    body
        include header
        section#main
            div.container
                div.row
                    include sidebar
                    div#showcase_books.col-xs-10.col-sm-10.col-md-10.col-lg-10
                        block content

        include footer
        script(src='/js/libs.min.js')
        script(src='/js/common.js')
        script(src='/js/detailsBook.js')
