script#miniItem(type='text/template')
  div.eAutoComplete_itemList.col-md-12
    a(href='/book/{id}')
      div.col-my-2
        img(src='/img/books/{id}.jpg', class="img-responsive" alt="Responsive image")
      div.col-my-10.infoBook(data-title='{title}')
        div.title.size_text(data-book-title='{title}') {title}
        div.author(data-book-author='{author}') {author}
