script#not_found(type='text/template')
      .col-md-2.col-sm-2.col-lg-2
        img(src='/img/books/no-cover.jpg')
      .col-md-10.col-sm-10.col-lg-10
        h3 По запросу "{searchText}" ничего не найдено :(
        p Пожалуйста, убедитесь, что вы ввели все правильно и попробуйте  еще раз
        
