script#not_found(type='text/template')
      .col-md-2.col-sm-2.col-lg-2
        img(src='/img/books/no-cover.jpg')
      .col-md-10.col-sm-10.col-lg-10
        h3 Find "' + {searchText} + '" was harder than we thought
        p Please ensure that the request is correct or reframe it.
        
