div#myModal.modal.fade(role='dialog')
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type='button' data-dismiss='modal') &times;
                h4.modal-title Modal Header
            div.modal-body
                p Some text in the modal.
            div.modal-footer
                button.btn.btn-default(type='button' data-dismiss='modal') Close
