div.sidebar.col-xs-2.col-sm-2.col-md-2.col-lg-2
    div.menu.menu_fixed_middle
        ul.menu_nav
            li#filter_new.active
                a(href="#") New
            li#filter_popular
                a(href="#") Popular
            li#filter_all
                a(href="#") All
