div#sidebar.col-xs-2.col-sm-2.col-md-2.col-lg-2
    div.menu.menu_fixed_middle
        ul.menu_nav
            li.sidebar_item.active(data-filter = 'new')
                a(href="/?filter=new") New
            li.sidebar_item(data-filter = 'popular')
                a(href="/?filter=popular") Popular
            li.sidebar_item(data-filter = 'all')
                a(href="/?filter=all") All

script(src='/js/sidebar.js' defer)
