
div.sidebar2
    div.nav2
        span.filterBlock
            a.sidebar_item(href="/?filter=new" data-filter='new') Новые
            a.sidebar_item(href="/?filter=popular" data-filter='popular') Популярные
            a.sidebar_item.active(href="/?filter=all" data-filter='all') Все

script(src='/js/sidebar.js' defer)
