div.sidebar.col-xs-2.col-sm-2.col-md-2.col-lg-2
    div.menu.menu_fixed_middle
        ul.menu_nav
            li.active(data-filter = 'new')
                a(href="#") New
            li(data-filter = 'popular')
                a(href="#") Popular
            li(data-filter = 'all')
                a(href="#") All

script(src='/js/sidebar.js' defer)
