* {
  margin: 0;
  padding: 0; }

body {
  height: 100%;
  background-color: white;
  color: #2c3e50; }
  body a:focus, body a:hover {
    text-decoration: none; }
  body h1, body h2, body h3, body h4, body h5 {
    color: #2c3e50; }

.btn-success {
  color: #fff;
  background-color: #27ae60;
  border-color: #31b167; }
  .btn-success:hover {
    background-color: #2cc56d;
    border-color: #34b96c; }

.size_text {
  white-space: nowrap;
  overflow: hidden;
  padding: 5px; }
  .size_text::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.2)), to(#fff));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.2), #fff 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2), #fff 100%); }

/* ------------------ section #header - styles sass ------------------------- */
#header .navbar {
  border-bottom: 5px solid #27ae60; }

#header .sh {
  color: black; }

#header .plus {
  color: #27ae60; }

#header .sh, #header .plus {
  font-family: arial;
  font-size: 40px;
  font-weight: bold;
  line-height: 20px; }

.navbar-form {
  width: 60%; }
  .navbar-form .form-group {
    width: 80%; }
  .navbar-form #search {
    width: 100%; }
  .navbar-form #search_btn {
    margin-left: 10px; }

/* ----------------------- section #main  - styles sass --------------------- */
#main {
  margin: 160px 0; }
  #main .menu {
    border-bottom-width: 0;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: rgba(34, 36, 38, 0.15); }
    #main .menu .menu_nav {
      padding-left: 0;
      margin-top: 10px;
      margin-bottom: 10px; }
      #main .menu .menu_nav li {
        float: none;
        list-style: none; }
        #main .menu .menu_nav li a {
          color: #27ae60;
          padding: 10px 15px;
          display: block; }
          #main .menu .menu_nav li a:hover {
            background-color: white;
            font-weight: bold;
            text-decoration: none; }
      #main .menu .menu_nav .active {
        border-color: #27ae60;
        border-right-style: solid;
        margin: 0 -2px 0 0;
        border-right-width: 2px; }
  #main .menu_fixed_middle {
    top: 160px;
    position: fixed;
    z-index: 1029;
    width: 13%; }
  #main #showcase_books .bookDescription {
    padding: 40px 15px; }
    #main #showcase_books .bookDescription h4 {
      font-weight: 500; }
    #main #showcase_books .bookDescription p {
      text-align: justify;
      text-indent: 1.5em;
      line-height: 24px; }
    #main #showcase_books .bookDescription P:first-letter {
      font-size: 22px;
      color: #27ae60; }
  #main #showcase_books .bookID .bookImg img {
    width: 220px;
    height: auto;
    -webkit-box-shadow: 10px 10px 5px -9px rgba(0, 0, 0, 0.75);
            box-shadow: 10px 10px 5px -9px rgba(0, 0, 0, 0.75); }
  #main #showcase_books .bookID .bookInfo {
    padding: 0 30px; }
    #main #showcase_books .bookID .bookInfo .titleBook {
      font-weight: 500;
      font-size: 22px;
      line-height: 32px;
      letter-spacing: .01em;
      margin-bottom: 10px; }
    #main #showcase_books .bookID .bookInfo span {
      display: inline-block;
      color: #888;
      width: 60px;
      padding-right: 19px;
      padding-bottom: 8px; }
    #main #showcase_books .bookID .bookInfo .btnBookID {
      float: right; }
  #main #showcase_books a {
    display: block; }
    #main #showcase_books a img {
      width: 100%;
      height: auto;
      cursor: pointer; }
  #main #showcase_books .book {
    text-align: center;
    margin-bottom: 60px;
    padding: 20px 10px; }
    #main #showcase_books .book:hover {
      -webkit-box-shadow: 0px 6px 16px 1px rgba(0, 0, 0, 0.75);
              box-shadow: 0px 6px 16px 1px rgba(0, 0, 0, 0.75); }
    #main #showcase_books .book .title {
      padding: 5px 0 0 0;
      color: #27ae60;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer; }
      #main #showcase_books .book .title::before {
        content: attr(data-book-title);
        position: absolute;
        left: 15%;
        top: 30%;
        z-index: 1029;
        background: rgba(255, 255, 255, 0.9);
        font-family: Arial, sans-serif;
        font-size: 11px;
        padding: 5px 10px;
        border: 1px dashed #27ae60;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        width: 70%;
        white-space: normal;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        -webkit-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        opacity: 0;
        display: none; }
      #main #showcase_books .book .title:hover::before {
        opacity: 1;
        top: 40%;
        display: block; }
    #main #showcase_books .book .author {
      cursor: pointer;
      color: #2c3e50; }
      #main #showcase_books .book .author::before {
        content: attr(data-book-author);
        position: absolute;
        left: 15%;
        top: 30%;
        z-index: 1029;
        background: rgba(255, 255, 255, 0.9);
        font-family: Arial, sans-serif;
        font-size: 11px;
        padding: 5px 10px;
        border: 1px dashed #27ae60;
        -webkit-border-radius: 20px;
                border-radius: 20px;
        width: 70%;
        white-space: normal;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        -webkit-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        opacity: 0;
        display: none; }
      #main #showcase_books .book .author:hover::before {
        opacity: 1;
        top: 40%;
        display: block; }

/* ---------------------- section #footer - styles sass --------------------- */
#footer .content_footer {
  height: 20px;
  color: white;
  text-align: center;
  background-color: #3d3d3d; }
